<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog</title>
    </head>
    <style>
        h2 {
            font-family:Georgia;
            color:cadetblue;
        }
        small {
            font-family:Verdana;
            color:darkcyan;
        }
        div {
            font-family:Verdana;
            color:midnightblue;
            width:650px;
        }
        img {
            width:550px;
        }
    </style>
    <body>
        <br>
        <img src="https://i.pinimg.com/originals/df/19/20/df19203540654f3f2efbab7589d5828a.jpg"
        alt="Frieren anime GIF">
        <h2>{{ object.title }}</h3>
        <small>
            created on: {{ object.createdOn }} ; last updated on: {{ object.updatedOn }}
        </small>
        <div>
            {{ object.entry|linebreaks }}
        </div>
    </body>
</html>