{% extends "base.html" %}

{% block title %}
Merchstore | Product Details
{% endblock %}

{% block main %}
<h1>Product Details</h1>
<hr />
<a href="{% url "merchstore:merchstore_product_list" %}">Back to All Products</a>
<h1>{{ object }}</h1>
<h2> Product Type:</h2>
<h3>{{ object.productType }}</h3>
<h2> Description:</h2>
<p>{{ object.description }}</p>
<h2>${{ object.price }}</h2>
<h2> Stock:</h2>
<p>{{ object.stock }}</p>

{% if request.user.pk == object.owner.pk %}
<a href="{% url "merchstore:merchstore_product_update" object.pk %}">Update Product</a>
{% else %}
<hr />
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Transact"
    {% if object.stock == 0 %}disabled{% endif %}
    />
</form>
{% endif %}

{% endblock main %}
