<!DOCTYPE html>
<html>
    <head>
        <title>Wiki</title>
        <h1>Wiki</h1>
        <style>
            .paragraphs {
                width: 600px;
            }
        </style>
    </head>
    <body>
        <h2>{{ object }}</h2>
        <h4><i>Category: {{ object.category }}</i></h4>
        <div class="paragraphs">{{ object.entry }}</div>
        <br>
        <small>Created on: {{ object.created_on }}</small>
        <br>
        <small>Last updated: {{ object.updated_on }}</small>
    </body>
</html>